
@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  contain:content;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(./components/images/pexels-lucas-george-wendt-4592706.jpg);
}
.app-container{
  height:100%;
}
.hero-container{
  background-image: url(./components/images/pexels-vlada-karpovich-7902939.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
